<p id="notice"><%= notice %></p>

<p>
  <strong>Controller:</strong>
  <%= @menu.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @menu.action %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @menu.is_active %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
