<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @company.about %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>
<% if @company.parent %>
<p>
  <strong>Parent:</strong>
  <%= @company.parent.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
